.hero {
    display: flex;
    justify-content: space-around;
    background-image: (url(../../../assets/creamTexture.jpeg));
    background-repeat: stretch;
    // margin-bottom: 20px;
    flex-direction: column;
    @media (min-width: 700px){
      flex-direction: column;
    }
  }
  
  .hero-top {
    display: none;
    background-color: green;
    height: 20%;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto 0 auto;
    @media (min-width: 700px){
      display: flex;
    }
  }
  
  .hero-bottom {
    height: auto;
    width: 100%;
    margin-bottom: 4%;
    max-width: 1750px;
    margin: 0 auto 4% auto;
  }
  
  .hero-container{
    max-width: 1600px;
    display: flex;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-direction: column;
    @media(min-width:700px) {
      flex-direction: row;
      margin: 50px auto 0 auto;
    }
    @media (min-width: 1200px) {
      display: flex;
      width: 100%; 
      flex-direction: row;
      margin-bottom: 50px;
    }
  }
  
  .hero-video-buttons-container {
    width: 100%;
    display: flex;
    @media (min-width: 700px){
      justify-content: center;
      width: 50%;
    }
    @media (min-width: 1200px) {
      width: 50%;
    }
  }
  
  .hero-drop-into-title {
    font-family: 'Barlow';
    word-break: break-word;
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 18px;
    margin-bottom: 2.5%;
  }
  
  .hero-buttons-video-container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    @media(min-width: 700px) {
      // justify-content: flex-end;
      // margin-top: 10%;
    }
    @media(min-width: 1200px){
      width: 100%;
      // margin-left: 3%;
      display: flex;
      // justify-content: space-between;
      flex-direction: row;
    }
  }
  
  .hero-button-container {
    width: 95%;
    margin-top: 6%;
    @media(min-width: 700px){
      width: 100%;
    }
    @media(min-width: 1200px){
      margin-top: 0;
    }
    @media(min-width: 1400px){
      height: 360px;
    }
  }
  
  .hero-button-container-2 {
    height: 45%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @media (min-width: 1200px) {
      flex-direction: column;
    }
    @media (min-width: 1400px) {
      height: 100%;
    }
  }
  
  .hero-button-1 {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: rgba(230, 215, 176, .35);
    border: 1px gray solid;
    cursor: pointer;
  }
  
  .hero-button-2 {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: rgba(230, 215, 176, .35);
    border: 1px gray solid;
    cursor: pointer;
  }
  
  .hero-button-3 {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: rgba(230, 215, 176, .35);
    border-width: 1px;
    border: 1px gray solid;
    cursor: pointer;
  }
  
  .hero-button-4 {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: rgba(230, 215, 176, .35);
    border-width: 1px;
    border: 1px gray solid;
    cursor: pointer;
  }
  
  .hero-button-5 {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: rgba(230, 215, 176, .35);
    border-width: 1px;
    border: 1px gray solid;
    cursor: pointer;
  }
  
  .hero-button-6 {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: rgba(230, 215, 176, .35);
    border-width: 1px;
    border: 1px gray solid;
    cursor: pointer;
  }
  
  .border-select {
    border: 4px red solid;
  }
  
  .hero-video-container {
    display: flex;
    width: 95%;
    // height: 100%;
    justify-content: flex-end;
    align-items: end;
    // margin-top: 30px;
    @media(min-width: 700px) {
      width: 95%;
      justify-content: center;
      // margin-left: 10px;
    }
  }
  
  .video {
    z-index: 1;
    width: 100%;
    border-radius: 15px;
    // @media(min-width: 700px){
    //   width: 330px;
    // }
    // @media (min-width: 800px){
    //   width: 380px;
    // }
    // @media (min-width: 1000px){
    //   width: 450px;
    // }
    // @media ( min-width: 1200px) {
    //   width: 530px;
    // }
    // @media ( min-width: 1400px) {
    //   width: 650px;
    // }
  }
  .hero-drop-info {
    // border: 1px solid orange;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hero-drop-info-container {
    width: 100%;
    display: flex;
    // overflow-y: scroll;
    justify-content: center;
    // border: 1px solid black;
    // margin-bottom: 20%;
    margin-top: 15px;
    @media (min-width: 600px) {
      // margin-bottom: 15%
    }
    @media( min-width: 700px) {
      // height: 100%;
      width: 50%;
      margin-top: 0px;
      margin-bottom: 0;
    }
    @media (min-width: 1000px) {
      justify-content: center;
    }
    @media(min-width: 1200px) {
      width: 50%;
      display: flex;
      justify-content: center; 
    }
  }
  
  .hero-drop-info-container2 {
    width: 94%;
    height: 100%;
    margin-top: 50px;
    @media (min-width: 1000px){
      width: 90%;
      margin-left: 20%;
      margin-top: 8%;
    } 
    @media (min-width: 1200px) {
      margin-top: 20%;
    }
    @media (min-width: 1400px) {
      margin-top: 9%;
    }
  }
  
  .hero-drop-title {
    font-family: 'Allerta Stencil', sans-serif;
    line-height: 0.9;
    font-weight: 600;
    font-size: 30px;
    overflow-wrap: break-word;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0px;
    @media (min-width: 700px) {
      font-size: 29px;
      // margin-top: 4%;
    }
  }

  .hero-drop-upcomming-drop {
    margin: 0;
  }
  
  #hero-info {
    width: 100%;
    line-height: 1.5;
    font-weight: 100;
    font-family: 'Barlow';
    margin-bottom: 5%;
    word-break: break-word;
    @media (min-width: 1000px) {
      max-width: 610px;
    }
  }
  
  #hero-button {
    width: 100%;
    height: 8%;
    border-radius: 5px;
    background-image: (url('../../../assets/footerTexture.jpeg'));
    color: white;
    letter-spacing: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    border-width: 0px;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 18px;
    @media (min-width: 1000px) {
      width: 50%;
      font-size: 14px;
    }
    @media (min-width: 1200px) {
      font-size: 18px;
    }
  }
  
  #remaining {
    color: red;
    text-align: center;
    font-size: 14px;
    font-family: 'Barlow';
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    word-break: break-word;
  }
  
  .remaining__remainingProgressBar {
    width: 100%;
    @media (min-width: 1000px) {
      margin-bottom: 30%;
      width: 50%;
    }
  }
  
  .remaining-span {
    font-weight: 300;
  }
  
  #remainingProgressBar {
    width:100%;
    height: 0.1px;
    background-color: grey;
    margin-bottom: -3.1px;
  }
    
  #remainingProgressBarStatus {
    width: 21%;
    height: 5px;
    background-color: red;
    margin-top: -3px;
  }
  
  .countdown {
    flex-direction: column;
    background-color: white;
    width: 140px;
    margin-top: 25px;
    font-family: 'Barlow';
    float: right;
    border-radius: 6px;
    margin-right: 1%;
    @media (min-width: 700px) {
      margin-right: 1%;
      margin-top: 0;
    }
  }
    
  #countdown__nextDrop {
    display: flex;
    color: black;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    @media(min-width: 700px) {
      font-size: 9px;  
    }
  }
    
  #countdown__dropTitle {
    color: #000;
    text-align: center;
    margin-top: 1px;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    @media(min-width: 700px) {
      font-size: 12px;
    }
  }
    
  #countdown__timeRemaining {
    color: red;
    text-align: center;
    margin-top: 1px;
    letter-spacing: 1px;
  }
  
  .sup {
    vertical-align: 1.5px;
  }
  
  .sup-dollar{
    vertical-align: 3.2px; 
    font-size: 12px;
  }
  
  .video-controls {
    background-color: black;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    display: flex;
  }
      
  .video-slider {
    width: 100%;
  }
      
  .video-speed-select {
    border-radius: 10px;
    background-color: black;
    color: #e6d7b0;
    text-align: center;
  }
      
  .video-mute-toggle {
    border-radius: 10px;
    background-color: black;
    color: #e6d7b0;
    text-align: center;
  }
  