.nav-container {
  background-image: url(../../assets/creamTexture.jpeg);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hamburger-nav-icon {
  cursor: pointer;
}

.nav-container-desktop-links {
  display: none;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  max-width: 1600px;
  padding: 0;
  width: 100%;
}

.nav-about {
  align-items: center;
  display: flex;
  font-family: "Allerta Stencil", sans-serif;
  cursor: pointer;
  height: 100%;
  margin-left: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 10px;
  text-align: left;
  width: 30%;
}
@media (min-width: 769px) {
  .nav-about {
    font-size: large;
  }
}
@media (min-width: 1000px) {
  .nav-about {
    font-size: x-large;
  }
}

.nav-about-title {
  margin-left: 5%;
}

.nav-img {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-img-hamburger {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-account-cart-container {
  display: flex;
  font-family: "Allerta Stencil", sans-serif;
  justify-content: right;
  align-items: center;
  margin: 0 15px 0 0;
  width: 30%;
}
@media (min-width: 769px) {
  .nav-account-cart-container {
    font-size: large;
  }
}
@media (min-width: 1000px) {
  .nav-account-cart-container {
    font-size: x-large;
  }
}

.nav-account {
  cursor: pointer;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  margin-right: 5%;
  font-size: 12px;
}
@media (min-width: 600px) {
  .nav-account {
    font-size: 13px;
  }
}
@media (min-width: 800px) {
  .nav-account {
    font-size: 18px;
  }
}
@media (min-width: 1000px) {
  .nav-account {
    font-size: 20px;
  }
}

.about-page {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  background-color: black;
  justify-content: top;
  align-items: center;
  position: absolute;
  z-index: 2;
  opacity: 0.85;
  color: white;
  flex-direction: column;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.about-page-active {
  visibility: visible;
  opacity: 0.8;
  cursor: pointer;
  text-align: center;
}

@keyframes about {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.85;
  }
}
@keyframes aboutout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.about-title {
  font-size: 40px;
  margin-bottom: 70px;
  margin-top: 50px;
  text-align: center;
  font-family: "Allerta Stencil";
}

.about-info {
  font-size: large;
  font-family: "Barlow";
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
  line-height: 50px;
  font-weight: 400;
  margin-bottom: 70px;
}

.about-how-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-how-title {
  font-family: "Allerta Stencil";
  font-size: 30px;
  margin-bottom: 70px;
}

.about-how-info {
  font-family: "Barlow";
  width: 80%;
  text-align: center;
  line-height: 50px;
  font-weight: 400;
  font-size: large;
  font-weight: 400;
  margin-bottom: 50px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/creamTexture.jpeg);
  z-index: 2;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu.active {
  transform: translateX(0%);
}

.hamburger-menu-container {
  display: flex;
  border-bottom: 3px solid black;
  justify-content: end;
}

.hamburger-menu-icons {
  height: 100px;
  border-bottom: 3px black solid;
  text-align: center;
  color: black;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-family: "Barlow";
  font-size: x-large;
  transition: background-color 0.3s, color 0.3s;
}

.hamburger-menu-icons:hover {
  background-color: black;
  color: wheat;
}

.aboutOverlay {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/creamTexture.jpeg);
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.aboutOverlay.active {
  transform: translateY(0%);
}

@media (min-width: 769px) {
  .nav-container-desktop-links {
    display: flex;
  }
  .hamburger-nav-icon {
    display: none;
  }
  .nav-img-hamburger {
    display: none;
  }
}/*# sourceMappingURL=nav.css.map */